# USING
DB_URL= <DB-URL>
JWT_SECRET= <JWT-SECRET>


# REDIS 
REDIS_PORT= <REDIS-PORT>
REDIS_URL = <REDIS_HOSTED_URL>
REDIS_SECRET= <>


# NOT USING
REFRESH_TOKEN_SECRET= your_refresh_token_secret
ACCESS_TOKEN_EXPIRY= 15m
REFRESH_TOKEN_EXPIRY= 7d
