# USING
    DB_URL= ""
    JWT_SECRET= 
    MAINTENANCE_MODE= 

    # REDIS 
    REDIS_PORT= 6379
    REDIS_URL= 
    REDIS_SECRET= 


# NOT USING
    REFRESH_TOKEN_SECRET= 
    ACCESS_TOKEN_EXPIRY= 
    REFRESH_TOKEN_EXPIRY=
