# USING
    DB_URL= ""
    DB_NAME=""
    JWT_SECRET= 
    MAINTENANCE_MODE= false

    # REDIS 
    REDIS_PORT= 6379
    REDIS_URL= 
    REDIS_SECRET= 

    # PAYMENT GATEWAY
    DODO_API_KEY = 
    DODO_WEBHOOK_SECRET = 
    DODO_PAYMENTS_ENVIRONMENT = 
    DODO_RETURN_URL= 
    # EMAIL (SMTP)
    SMTP_HOST=
    SMTP_PORT=587
    SMTP_USER=
    SMTP_PASS=
    FROM_EMAIL=
# NOT USING
    REFRESH_TOKEN_SECRET= your_refresh_token_secret
    ACCESS_TOKEN_EXPIRY= 15m
    REFRESH_TOKEN_EXPIRY= 7d
